
nav {
    margin: 0px 0px 0px 0px;
    top: 0px;    
    background: rgba(0,0,0,0.3);
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px 0px;
}

nav ul li {
    padding: 0px 15px;;
}

nav ul li.active {
    border-right: 3px solid rgb(255, 123, 0);
}

nav ul a {
    text-decoration: none;
    color: rgb(85, 34, 0);
}

.vgazd{
    float: right;
    margin: 0 0 15px 15px;
    padding: 3px;
    width: 10%;
    height: auto;
    border: none;
}

hr.mainhr {
    border: 1px solid;
  }

footer {
    margin: 10px;
    padding: 5px 20px;
}

center {
    padding: 1px;
}

p {
    padding: 1px;
}

#table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

div#galeria {
    margin: 0 auto; 
} 

div.kep { 
    display: inline-block; 
}  

div.kep img { 
    width: 200px; 
} 

#loggedIn {
    color: rgb(61, 19, 2)
}

ul.kepgaleria{
    color:red;
}